@media only screen and (max-width: 550px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-image: url("images/numbers_small.jpg");
    }

    .main {
        max-width: 150px;
        background-color: white;
        background-color: rgba(0, 0, 0, .10);
        border-radius: 12px;
        padding: 25px;
        margin-top: 80px;
    }
}

@media only screen and (max-width: 720px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-image: url("images/numbers_medium.jpg");
    }

    .main {
        max-width: 300px;
        background-color: white;
        background-color: rgba(0, 0, 0, .10);
        border-radius: 12px;
        padding: 25px;
        margin-top: 80px;
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("images/numbers_large.jpg");
    background-size: cover;
    /* background-size: auto; */
    height: auto;
    font-family: Roboto, Ubuntu, BlinkMacSystemFont, -apple-system, 'Segoe UI', Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

.main {
    max-width: 300px;
    background-color: white;
    background-color: rgba(0, 0, 0, .10);
    border-radius: 12px;
    padding: 25px;
    margin-top: 80px;
}

p {
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

.para {
    margin-top: 45px;
}

h1 {
    /* margin-top: 100px; */
    margin-bottom: 10px;

}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding: 10px;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    border: 1px solid white;
}

#increment-btn {
    background: darkred;
    margin-bottom: 7px;
}

#save-btn {
    background: darkgreen;
    margin-top: 5px;
}