@media only screen and (max-width: 550px) {
    body {
        display: grid;
        place-items: center;
        flex-wrap: wrap;
        background-image: url("images/numbers_small.jpg");
    }

    /* .main {
        width: 300px;
        background-color: white;
        background-color: rgba(0, 0, 0, .10);
        border-radius: 12px;
        padding: 25px;
        margin-top: 80px;
    } */
}

@media only screen and (max-width: 720px) {
    body {
        display: grid;
        place-items: center;
        flex-wrap: wrap;
        background-image: url("images/numbers_medium.jpg");
    }

    /* .main {
        width: 300px;
        background-color: white;
        background-color: rgba(0, 0, 0, .10);
        border-radius: 12px;
        padding: 25px;
        margin-top: 80px;
    } */
}

body {
    display: grid;
    place-items: center;
    flex-wrap: wrap;
    background-image: url("images/numbers_large.jpg");
    background-size: cover;
    /* background-size: auto; */
    height: auto;
    font-family: Roboto, Ubuntu, BlinkMacSystemFont, -apple-system, 'Segoe UI', Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

.main {
    width: 300px;
    background-color: white;
    background-color: rgba(0, 0, 0, .10);
    border-radius: 12px;
    padding: 25px;
    margin-top: 80px;
    text-shadow: 0.5px 0.2px 0px silver;
}

p {
    padding: 0px;
    margin: 0px;
    font-size: large;
}

.para {
    margin-top: 45px;
}

h1 {
    margin-bottom: 10px;

}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    width: 180px;
    height: 45px;
    margin-bottom: 5px;
    border-radius: 8px;
    cursor: pointer;
    text-shadow: 1px 1px 0px black;
}

button:hover {
    border: 1px solid goldenrod;
}

#increment-btn {
    background: darkred;
    margin: 7px;
}

#save-btn {
    background: darkgreen;
    margin: 7px;

}

#save-el {
    width: 150px;
    margin: 5px 75px;
}